<form>
    <div class="sc-control-container">
        <div class="sc-select-actor">
            <p>{{localize "FURU-SC.CRAFT_TABLE_UI.ACTOR_SELECTION"}}</p>
            <select data-select="select-actor" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.SELECT_ACTOR"}}">
                {{selectOptions ownedActors selected=selectedActorId}}
            </select>
        </div>
        <div class="sc-table-button">
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.RELOAD_CRAFT_TABLE"}}"
                class="sc-br-none sc-br-rad10" data-action="reload-window">
                <i class="fas fa-rotate"></i>
            </button>
        </div>
    </div>
    <div style="padding:10px;" class="sc-recipe-card sc-br-full sc-br-rad15">
        <p class="sc-table-header sc-br-full sc-br-br-rad15 sc-br-bl-rad15">{{recipe.name}}</p>
        {{!--Single Target item--}}
        {{#unless recipe.settings.isTargetList}}
        <div class="sc-recipe-card sc-br-full sc-br-rad15" style="margin-top: -5px; margin-bottom: 5px;">
            <div class="sc-table-target-block">
                <img src="{{recipe.target.img}}"
                    class="sc-table-target-image sc-br-none sc-br-right sc-br-tl-rad12_5 sc-br-bl-rad12_5" />
                <div style="width:inherit;">
                    <p class="sc-table-target-name sc-br-bottom">
                        {{recipe.target.name}}
                    </p>
                    <div class="sc-table-target-quantity">
                        <p class="sc-br-right" style="height: 100%;">{{localize "FURU-SC.CRAFT_TABLE_UI.QUANTITY"}}</p>
                        <p style="min-width: 64px; width: 100%; height: 100%;">
                            {{getCorrectQuantityValue recipe.target}}
                        </p>
                    </div>
                </div>
                {{!--Text craft button--}}
                {{#if (equals recipe.type "text")}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="craft-item">
                    <i class="fas fa-hammer-crash "></i>
                </button>
                {{/if}}
                {{!--Items craft button--}}
                {{#if (equals recipe.type "items")}}
                {{#if (equals completionPercent 100)}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="craft-item">
                    <i class="fas fa-hammer-crash"></i>
                </button>
                {{else}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="not-enough-ingredients">
                    <i class="fas fa-hammer-crash sc-disabled"></i>
                </button>
                {{/if}}
                {{/if}}
                {{!--Tags craft button--}}
                {{#if (equals recipe.type "tags")}}
                {{#if (equals completionPercent 100)}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="craft-item">
                    <i class="fas fa-hammer-crash"></i>
                </button>
                {{else}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="not-enough-tags">
                    <i class="fas fa-hammer-crash sc-disabled"></i>
                </button>
                {{/if}}
                {{/if}}
            </div>
        </div>
        {{!--Target items list--}}
        {{else}}
        <p class="sc-table-header2 sc-br-full sc-br-tr-rad15 sc-br-tl-rad15">
            {{localize "FURU-SC.CRAFT_TABLE_UI.TARGET_ITEMS"}}
        </p>
        <div class="sc-table-targets-container sc-br-rad15 sc-br-full">
            <div class="sc-table-targets-block">
                {{#each recipe.targetList}}
                <div class="sc-recipe-card sc-br-full sc-br-rad15" style="display: flex; flex-direction: column;">
                    <img src="{{this.img}}" class="sc-table-ingredients-image sc-br-none sc-br-tl-rad12_5 sc-br-tr-rad12_5" />
                    <p class="sc-table-targets-name sc-br-bottom sc-br-top">
                        {{this.name}}
                    </p>
                    <p class="sc-br-bl-rad15 sc-br-br-rad15" style="width: 100%;">
                        {{getCorrectQuantityValue this}}
                    </p>
                </div>
                {{/each}}
            </div>
        </div>
        {{!--Text craft button--}}
        {{#if (equals recipe.type "text")}}
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                class="sc-br-full sc-br-rad15" style="margin-top:10px" data-action="craft-item">
                <i class="fas fa-hammer-crash "></i>
            </button>
        {{/if}}
        {{!--Items craft button--}}
        {{#if (equals recipe.type "items")}}
            {{#if (equals completionPercent 100)}}
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                class="sc-br-full sc-br-rad15" style="margin-top:10px" data-action="craft-item">
                <i class="fas fa-hammer-crash"></i>
            </button>
            {{else}}
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                class="sc-br-full sc-br-rad15" style="margin-top:10px" data-action="not-enough-ingredients">
                <i class="fas fa-hammer-crash sc-disabled"></i>
            </button>
            {{/if}}
        {{/if}}
        {{!--Tags craft button--}}
        {{#if (equals recipe.type "tags")}}
            {{#if (equals completionPercent 100)}}
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                class="sc-br-full sc-br-rad15" style="margin-top:10px" data-action="craft-item">
                <i class="fas fa-hammer-crash"></i>
            </button>
            {{else}}
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                class="sc-br-full sc-br-rad15" style="margin-top:10px" data-action="not-enough-tags">
                <i class="fas fa-hammer-crash sc-disabled"></i>
            </button>
            {{/if}}
        {{/if}}
        {{/unless}}
        {{!--Ingredients--}}
        {{#if (equals recipe.type "items")}}
        {{#if (equals completionPercent 100)}}
        {{else}}
        <p class="sc-table-header2 sc-br-full sc-br-tr-rad15 sc-br-tl-rad15">
            {{localize "FURU-SC.CRAFT_TABLE_UI.REQUIRED_INGREDIENTS"}}
        </p>
        <div class="sc-table-ingredients-container sc-br-rad15 sc-br-full">
            <div class="sc-table-ingredients-block ">
                {{!-- We are using ingredients as a separate Object --}}
                {{!-- with condensed information about the source item --}}
                {{!-- and to prevent rewriting the quantity values of a recipe object --}}
                {{#each ingredients}}
                <div class="sc-recipe-card sc-br-full sc-br-rad15" style="display: flex; flex-direction: column;">
                    <img src="{{this.img}}" style="filter: grayscale({{getPercentForItem this}}%);"
                        class="sc-table-ingredients-image sc-br-none sc-br-tl-rad12_5 sc-br-tr-rad12_5" />
                    <p class="sc-table-ingredients-name sc-br-bottom sc-br-top">
                        {{this.name}}
                    </p>
                    <div style="display: flex;">
                        {{#if (equals this.currentReqQuantity 0)}}
                        <p class="sc-br-bl-rad15 sc-br-br-rad15" style="padding-left: 10px; width: 100%;">
                            <i class="fas fa-check"></i>
                        </p>
                        {{else}}
                        <p class="sc-table-required-text sc-br-bl-rad15 sc-br-right">
                            {{localize "FURU-SC.CRAFT_TABLE_UI.REQUIRED"}}
                        </p>
                        <p class="sc-br-br-rad15" style="width: 100%;">
                            {{this.currentReqQuantity}}
                        </p>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <div class="sc-loading-bar sc-br-full sc-br-rad15">
            <div class="sc-loading-bar-fill sc-br-rad15" style="width: {{completionPercent}}%;"></div>
        </div>
        {{/if}}
        {{!--Tags--}}
        {{#if (equals recipe.type "tags")}}
        {{#if isEnoughTags}}
        <p class="sc-table-header2 sc-br-full sc-br-tr-rad15 sc-br-tl-rad15">
            {{localize "FURU-SC.CRAFT_TABLE_UI.SUITABLE_INGREDIENTS"}}
        </p>
        <div class="sc-table-tags-container sc-br-rad15 sc-br-full">
            <div class="sc-table-tags-block">
                {{!-- When we work with tags we are using ingredients differently --}}
                {{!-- each "ingredient" is an object, with 3 properties --}}
                {{!-- selected: Bool, consumeQuantity: Number, ingredient: Object --}}
                {{#each ingredients}}
                <div class="sc-table-recipe-card {{#if selected}}sc-selected{{/if}} sc-br-full sc-br-rad15"
                data-ingredient-id="{{@key}}">
                    <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.EXPAND_ITEM"}}" 
                        class="sc-table-button sc-br-none sc-br-tl-rad12_5 sc-br-bl-rad12_5 sc-br-right"
                        data-action="select-item">
                        <i class="fas {{#if selected}}fa-caret-down{{else}}fa-caret-right{{/if}} "></i>
                    </button>
                    <div class="sc-table-dynamic-bg-image sc-br-none sc-br-right" 
                    style="background-image:url({{this.ingredient.img}});"></div>
                    <input type="text" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.ITEM_NAME"}}"
                        class="sc-table-tag-item-name sc-br-none sc-br-right"
                        readonly
                        value="{{this.ingredient.name}}" />
                    <div class="sc-table-dynamic-tag-container sc-br-right">
                        {{#each this.ingredient.flags.furu-sc.craftTags}}
                            <div class="sc-table-item-tags-container sc-br-none sc-tag-corners-cut" data-tag="{{@key}}">
                            <input type="text" 
                                title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.TAG_QUANTITY"}}"
                                class="sc-tag-quantity sc-br-none sc-br-rad0 sc-br-bl-rad15 
                                sc-br-tl-rad15 sc-br-left sc-br-top sc-br-bottom" 
                                readonly
                                value="{{this}}" />
                            <input type="text"
                                class="sc-tag sc-br-none sc-br-rad0 sc-br-left sc-br-top sc-br-bottom" readonly
                                value="{{@key}}" />
                            <p class="sc-tag-remove-button sc-br-none sc-br-rad0 sc-br-left" style="min-width: 64px;">
                            </p>
                        </div>
                        {{/each}}
                    </div>
                    <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.SUBSTRACT_QUANTITY"}}" 
                        class="sc-table-quantity-button sc-br-none sc-br-right sc-br-rad0"
                        data-action="substract-quantity-tagItem">
                        <i class="fas fa-angle-left "></i>
                    </button>
                    <input type="text" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.ITEM_QUANTITY"}}"
                        name="{{@key}}.consumeQuantity"
                        class="sc-table-tag-quantity sc-br-none sc-br-br-rad12_5 sc-br-tr-rad12_5"
                        {{#if (equals ../completionPercent 100)}}readonly{{/if}}
                        value="{{this.consumeQuantity}}" />
                    <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.ADD_QUANTITY"}}"
                        class="sc-table-quantity-button sc-br-none sc-br-left sc-br-rad0 sc-br-br-rad12_5 sc-br-tr-rad12_5"
                        data-action="{{#if (equals ../completionPercent 100)}}enough-tags{{else}}add-quantity-tagItem{{/if}}">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="sc-loading-bar sc-br-full sc-br-rad15">
            <div class="sc-loading-bar-fill sc-br-rad15" style="width: {{completionPercent}}%;"></div>
        </div>
        {{else}}
        <ul style="display: contents; list-style-type: none;">
            <li class="notification warning" style="margin-top: 10px;">{{localize "FURU-SC.CRAFT_TABLE_UI.NOTIFICATIONS.NOT_ENOUGH_ITEMS_WITH_TAGS"}}</li>
        </ul>
        {{/if}}
        {{/if}}
    </div>
</form>