<form>
    <h2>Recipe: {{recipe.name}}</h2>
    <div class="sc-recipe-card sc-br-full sc-br-rad15">
        <div class="sc-table-target-block">
            <img src="{{recipe.target.img}}" class="sc-table-target-image sc-br-none sc-br-right sc-br-tl-rad12_5 sc-br-bl-rad12_5" />
            <div style="width:inherit;">
                <p class="sc-br-bottom sc-br-tr-rad15">
                    {{recipe.target.name}}
                </p>
                <div class="sc-table-target-quantity">
                    <p class="sc-br-right">Quantity:</p>
                    <p style="min-width: 64px;
                            width: max-content;">
                        {{getCorrectQuantityValue recipe.target}}
                    </p>
                    <button type="button" title="Craft item" class="sc-br-br-rad15 sc-br-none sc-br-left"
                        data-action="craft-item">
                        <i class="fas fa-hammer-crash {{#if (notGM)}}sc-disabled{{/if}}"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{#if (equals recipe.type "items")}}
    <h2>Required ingredients:</h2>
    <div class="sc-table-ingredients-block">
        {{#each recipe.ingredients}}
        <div class="sc-recipe-card sc-br-full sc-br-rad15" style="display: flex; flex-direction: column;">
            <img src="{{this.img}}" class="sc-table-ingredients-image sc-br-none sc-br-tl-rad12_5 sc-br-tr-rad12_5" />
            <p class="sc-table-ingredients-name sc-br-bottom sc-br-top">
                {{this.name}}
            </p>
            <div style="display: flex;">
                <p class="sc-br-bl-rad15 sc-br-right" style="padding-left: 10px;">
                    Required:
                </p>
                <p class="sc-br-br-rad15" style="width: 100%;">
                    {{getCorrectQuantityValue this}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="sc-loading-bar sc-br-full sc-br-rad15">
        <div id="sc-loading-bar-fill" class="sc-br-rad15"></div>
    </div>
    {{/if}}
</form>