<form>

    <div class="sc-control-container">
        <div class="sc-select-actor">
            <p>{{localize "FURU-SC.CRAFT_TABLE_UI.ACTOR_SELECTION"}}</p>
            <select data-select="select-actor" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.SELECT_ACTOR"}}">
                {{#select selectedActor.id}}
                {{#each ownedActors}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="sc-table-button">
            <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.RELOAD_CRAFT_TABLE"}}"
                class="sc-br-none sc-br-rad10" data-action="reload-window">
                <i class="fas fa-rotate"></i>
            </button>
        </div>
    </div>
    <div style="padding:10px;" class="sc-recipe-card sc-br-full sc-br-rad15">
        <p class="sc-table-header sc-br-full sc-br-br-rad15 sc-br-bl-rad15">{{recipe.name}}</p>
        <div class="sc-recipe-card sc-br-full sc-br-rad15" style="margin-top: -5px; margin-bottom: 5px;">
            <div class="sc-table-target-block">
                <img src="{{recipe.target.img}}"
                    class="sc-table-target-image sc-br-none sc-br-right sc-br-tl-rad12_5 sc-br-bl-rad12_5" />
                <div style="width:inherit;">
                    <p class="sc-table-target-name sc-br-bottom">
                        {{recipe.target.name}}
                    </p>
                    <div class="sc-table-target-quantity">
                        <p class="sc-br-right" style="height: 100%;">{{localize "FURU-SC.CRAFT_TABLE_UI.QUANTITY"}}</p>
                        <p style="min-width: 64px; width: 100%; height: 100%;">
                            {{getCorrectQuantityValue recipe.target}}
                        </p>
                    </div>
                </div>
                {{!--Text craft button--}}
                {{#if (equals recipe.type "text")}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="craft-item">
                    <i class="fas fa-hammer-crash "></i>
                </button>
                {{/if}}
                {{!--Items craft button--}}
                {{#if (equals recipe.type "items")}}
                {{#if (equals (getPercentForAllIngredients) 100)}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="craft-item">
                    <i class="fas fa-hammer-crash"></i>
                </button>
                {{else}}
                <button type="button" title="{{localize "FURU-SC.CRAFT_TABLE_UI.TOOLTIPS.CRAFT_ITEM"}}"
                    class="sc-br-br-rad15 sc-br-tr-rad15 sc-br-none sc-br-left" data-action="not-enough-ingredients">
                    <i class="fas fa-hammer-crash sc-disabled"></i>
                </button>
                {{/if}}
                {{/if}}
                {{!--Tags craft button--}}
            </div>
        </div>
        {{#if (equals recipe.type "items")}}
        {{#if (equals (getPercentForAllIngredients) 100)}}
        {{else}}
        <p class="sc-table-header2 sc-br-full sc-br-tr-rad15 sc-br-tl-rad15">
            {{localize "FURU-SC.CRAFT_TABLE_UI.REQUIRED_INGREDIENTS"}}
        </p>
        <div class="sc-table-ingredients-container sc-br-rad15 sc-br-full">
            <div class="sc-table-ingredients-block ">
                {{!-- We are using ingredients as a separate Object --}}
                {{!-- with condensed information about the source item --}}
                {{!-- and to prevent rewriting the quantity values of a recipe object --}}
                {{#each ingredients}}
                <div class="sc-recipe-card sc-br-full sc-br-rad15" style="display: flex; flex-direction: column;">
                    <img src="{{this.img}}" style="filter: grayscale({{getPercentForItem this}}%);"
                        class="sc-table-ingredients-image sc-br-none sc-br-tl-rad12_5 sc-br-tr-rad12_5" />
                    <p class="sc-table-ingredients-name sc-br-bottom sc-br-top">
                        {{this.name}}
                    </p>
                    <div style="display: flex;">
                        {{#if (equals this.currentReqQuantity 0)}}
                        <p class="sc-br-bl-rad15 sc-br-br-rad15" style="padding-left: 10px; width: 100%;">
                            <i class="fas fa-check"></i>
                        </p>
                        {{else}}
                        <p class="sc-table-required-text sc-br-bl-rad15 sc-br-right">
                            {{localize "FURU-SC.CRAFT_TABLE_UI.REQUIRED"}}
                        </p>
                        <p class="sc-br-br-rad15" style="width: 100%;">
                            {{this.currentReqQuantity}}
                        </p>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        <div class="sc-loading-bar sc-br-full sc-br-rad15">
            <div class="sc-loading-bar-fill sc-br-rad15" style="width: {{getPercentForAllIngredients}}%;"></div>
        </div>
        {{/if}}
    </div>
</form>