<form>
    <div id="crafting-form">
        <ul style="display: contents; list-style-type: none;">
            {{#if (equals fileInfo.system worldInfo.system)}}
            {{else}}
            <li class="notification error">{{localize "FURU-SC.CRAFT_MENU_UI.NOTIFICATIONS.WRONG_SYSTEM"}}</li>
            {{/if}}
            {{#if (equals fileInfo.world worldInfo.world)}}
            {{else}}
            <li class="notification warning">{{localize "FURU-SC.CRAFT_MENU_UI.NOTIFICATIONS.WRONG_WORLD"}}</li>
            {{/if}}
        </ul>
        <div class="sc-control-container">
            <div class="sc-search-recipe">
                <p>{{localize "FURU-SC.CRAFT_MENU_UI.SEARCH_RECIPES"}}</p>
                <input type="search" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SEARCH"}}" 
                    name="searchQuery"
                    class="sc-br-none"
                    placeholder="{{localize "FURU-SC.CRAFT_MENU_UI.SEARCH_PLACEHOLDER"}}" value="{{searchQuery}}" />
            </div>
            <div class="sc-select-recipe-file">
                <p>{{localize "FURU-SC.CRAFT_MENU_UI.CURRENT_FILE"}}</p>
                <select name="fileSelect" data-select="select-file" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SELECT_FILE"}}">
                    {{selectOptions fileNames selected=(getCurrentFile)}}
                </select>
            </div>
            {{#if (checkEditRights)}}
            <div class="sc-cm-button">
                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.CLEAR_RECIPES"}}"
                    class="sc-br-none sc-br-rad10" data-action="clear-recipe-file">
                    <i class="fas fa-eraser "></i>
                </button>
            </div>
            <div class="sc-cm-button">
                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.CREATE_FILE"}}"
                    class="sc-br-none sc-br-rad10" data-action="create-recipe-file">
                    <i class="fas fa-file "></i>
                </button>
            </div>
            {{/if}}
            <div class="sc-cm-button">
                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.RELOAD_FILE"}}"
                    class="sc-br-none sc-br-rad10" data-action="reload-window">
                    <i class="fas fa-rotate"></i>
                </button>
            </div>
            {{#if (checkEditRights)}}
            <div class="sc-cm-button">
                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SAVE_FILE"}}"
                    class="sc-br-none sc-br-rad10" data-action="save-recipe-file">
                    <i class="fas fa-floppy-disk "></i>
                </button>
            </div>
            <div class="sc-cm-button">
                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.CREATE_RECIPE"}}"
                    class="sc-br-none sc-br-rad10" data-action="add-recipe">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            {{/if}}
        </div>
        <div class="sc-recipe-container">
            {{#each recipes}}
            {{#if isVisible}}
            <div class="sc-recipe-card sc-br-full sc-br-rad15 {{#if settings.isHidden}}sc-hidden{{/if}}" data-recipe-id="{{id}}">
                {{!--Recipe Editing buttons and inputs--}}
                <div class="sc-edit-container">
                    <div class="sc-edit-name">
                        <p>{{localize "FURU-SC.CRAFT_MENU_UI.RECIPE_NAME"}}</p>
                        <input type="text" class="sc-br-none" name="{{id}}.name" {{#if (noEditRights)}}readonly{{/if}}
                            value="{{name}}" data-dtype="String">
                    </div>
                    <div class="sc-edit-type">
                        <p>{{localize "FURU-SC.CRAFT_MENU_UI.RECIPE_TYPE"}}</p>
                        {{#if (checkEditRights)}}
                        <select data-select="select_recipe_type" {{#if (noEditRights)}}readonly{{/if}}
                            name="{{id}}.type">
                            {{selectOptions ../recipeTypes selected=type}}
                        </select>
                        {{else}}
                        <input type="text" class="sc-br-none" readonly value="
                        {{~#if (equals type "text")}}{{localize "FURU-SC.CRAFT_MENU_UI.TYPES.TEXT"}}{{/if}}
                        {{~#if (equals type "items")}}{{localize "FURU-SC.CRAFT_MENU_UI.TYPES.ITEMS"}}{{/if}}
                        {{~#if (equals type "tags")}}{{localize "FURU-SC.CRAFT_MENU_UI.TYPES.TAGS"}}{{/if}}">
                        {{/if}}
                    </div>
                    <div class="sc-edit-buttons">
                        {{#if (checkEditRights)}}
                        {{!--Delete Recipe button--}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.DELETE_RECIPE"}}"
                            class="sc-br-none sc-br-rad10" data-action="delete-recipe">
                            <i class="fas fa-minus"></i>
                        </button>
                        {{!--Edit Text description button--}}
                        {{#if (equals type "text")}}
                        {{#if editMode}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SAVE_DESCRIPTION"}}"
                            class="sc-br-none sc-br-rad10" data-action="save-description">
                            <i class="fas fa-floppy-disk"></i>
                        </button>
                        {{else}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.EDIT_DESCRIPTION"}}"
                            class="sc-br-none sc-br-rad10" data-action="edit-description">
                            <i class="fas fa-edit "></i>
                        </button>
                        {{/if}}
                        {{/if}}
                        {{!--Add tag button--}}
                        {{#if (equals type "tags")}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ADD_TAG"}}"
                            class="sc-br-none sc-br-rad10" data-action="add-tag">
                            <i class="fas fa-plus "></i>
                        </button>
                        {{/if}}
                        {{!--Settings button--}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.EDIT_RECIPE_SETTINGS"}}"
                            class="sc-br-none sc-br-rad10" data-action="edit-recipe-settings">
                            <i class="fas fa-gear "></i>
                        </button>
                        {{/if}}
                        <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.CRAFT_FROM_RECIPE"}}"
                            class="sc-br-none sc-br-rad10" data-action="craft-from-recipe">
                            <i class="fas fa-hammer-crash"></i>
                        </button>
                    </div>
                </div>   
                {{!--Recipe Settings --}}
                {{#if (checkEditRights)}}
                {{#if settings.opened}}
                <div class="sc-recipe-settings-container flexcol sc-br-full sc-br-rad15">
                    <h2 class="sc-recipe-settings-header sc-br-none sc-br-bottom">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.TITLE"}}</h2>
                    <div class="sc-recipe-settings-block">
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.isTargetList" class="sc-br-none" {{checked settings.isTargetList}}>
                            <label for="{{id}}.settings.isTargetList">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.IS_TARGET_LIST"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.allowDismantling" class="sc-br-none" {{checked settings.allowDismantling}}>
                            <label for="{{id}}.settings.allowDismantling">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.ALLOW_DISMANTLING"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.isSecret" class="sc-br-none" {{checked settings.isSecret}}>
                            <label for="{{id}}.settings.isSecret">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.IS_SECRET"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.allowModifiers" class="sc-br-none" {{checked settings.allowModifiers}}>
                            <label for="{{id}}.settings.allowModifiers">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.ALLOW_MODIFIERS"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.isOneTime" class="sc-br-none" {{checked settings.isOneTime}}>
                            <label for="{{id}}.settings.isOneTime">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.IS_ONE_TIME"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.isHidden" class="sc-br-none" {{checked settings.isHidden}}>
                            <label for="{{id}}.settings.isHidden">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.IS_HIDDEN"}}</label>
                        </span>
                        <span class="sc-setting-span">
                            <input type="checkbox" name="{{id}}.settings.sendCraftRequest" class="sc-br-none" {{checked settings.sendCraftRequest}}>
                            <label for="{{id}}.settings.sendCraftRequest">{{localize "FURU-SC.CRAFT_MENU_UI.SETTINGS.SEND_CRAFT_REQUEST"}}</label>
                        </span>
                        {{!--  
                        TODO: Add macro related settings
                        --}}
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{!--Recipe--}}
                {{#unless settings.opened}}
                <div class="sc-items-container sc-br-full sc-br-rad15 " data-recipe-id="{{id}}" >
                    {{!--Target items list block--}}
                    {{#if settings.isTargetList}}
                    <div class="sc-target-items-container sc-br-right sc-br-tl-rad15 sc-br-bl-rad15" data-drop-type="target-list">
                        <h2 class="sc-br-bottom">{{localize "FURU-SC.CRAFT_MENU_UI.TARGET_ITEMS"}}
                        </h2>
                        {{#if targetList}}
                        <div class="sc-target-items">
                            {{#each targetList}}
                            <div class="sc-targetList-item sc-br-rad15" data-item-id="{{@key}}">
                                <img src="{{this.img}}"
                                    class="sc-targetList-image sc-br-full sc-br-tl-rad15 sc-br-bl-rad15" />
                                <p class="sc-br-top sc-br-bottom">{{this.name}}</p>
                                {{#if (checkEditRights)}}
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SUBSTRACT_QUANTITY"}}"
                                    class="sc-item_button sc-br-rad0 sc-br-left sc-br-top sc-br-bottom" data-action="substract-quantity-target-list">
                                    <i class="fas fa-angle-left "></i>
                                </button>
                                {{/if}}
                                <input type="text" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ITEM_QUANTITY"}}"
                                    name="{{../id}}.targetList.{{@key}}.quantity"
                                    class="sc-quantity-input  sc-br-full sc-br-rad0 
                                    {{#if (noEditRights)}}sc-br-tr-rad15 sc-br-br-rad15{{/if}}" 
                                    {{#if (noEditRights)}}readonly{{/if}} value="{{getCorrectQuantityValue this}}" />
                                {{#if (checkEditRights)}}
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ADD_QUANTITY"}}" 
                                    class="sc-item_button sc-br-top sc-br-bottom"
                                    data-action="add-quantity-target-list">
                                    <i class="fas fa-angle-right"></i>
                                </button>
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.DELETE_INGREDIENT"}}"
                                    class="sc-delete-item-button sc-br-full sc-br-rad0 sc-br-tr-rad15 sc-br-br-rad15"
                                    data-action="delete-item-target-list">
                                    <i class="fas fa-minus"></i>
                                </button>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <i class="fas fa-circle-down sc-drop-zone-marker"></i>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{!--Target single item block --}}
                    {{#unless settings.isTargetList}}
                    <div class="sc-target-item-container sc-br-right sc-br-tl-rad15 sc-br-bl-rad15" data-drop-type="target">
                        {{#if target}}
                        <h2 class="sc-br-bottom" style="margin:0px;">{{localize "FURU-SC.CRAFT_MENU_UI.TARGET_ITEM"}}
                        </h2>
                        <img src="{{target.img}}" class="sc-target-image sc-br-none sc-br-bottom"/>
                        <div class="sc-br-bottom">
                            {{#if (checkEditRights)}}
                            <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SUBSTRACT_QUANTITY"}}" 
                                class="sc-item_button"
                                data-action="substract-quantity-target">
                                <i class="fas fa-angle-left "></i>
                            </button>
                            {{/if}}
                            <input type="text" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ITEM_QUANTITY"}}"
                                name="{{id}}.target.quantity"
                                class="sc-quantity-input sc-br-none sc-br-rad0 {{#if (checkEditRights)}}sc-br-left sc-br-right{{/if}}"
                                style="width: 100%"
                                {{#if (noEditRights)}}readonly{{/if}} value="{{getCorrectQuantityValue target}}" />
                            {{#if (checkEditRights)}}
                            <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ADD_QUANTITY"}}"
                                class="sc-item_button" data-action="add-quantity-target">
                                <i class="fas fa-angle-right"></i>
                            </button>
                            {{/if}}
                        </div>
                        <p>{{target.name}}</p>
                        {{else}}
                        <i class="fas fa-circle-down sc-drop-zone-marker"></i>
                        {{/if}}
                    </div>
                    {{/unless}}
                    {{!--Recipe description block--}}
                    {{#if (equals type "text")}}
                    {{#if editMode}}
                    <div class="tmce-editor-container">
                        {{editor
                        description
                        target = (concat id ".description")
                        button = false
                        owner = true
                        class = sc-editor-style
                        editable = true}}
                    </div>
                    {{else}}
                    <div class="sc-description-text-container">
                        <h2 class="sc-br-bottom">{{localize "FURU-SC.CRAFT_MENU_UI.DESCRIPTION"}}</h2>
                        <div class="sc-description-text">
                            {{{description}}}
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{!--Required items block --}}
                    {{#if (equals type "items")}}
                    <div class="sc-required-item-container sc-br-none" data-drop-type="ingredient">
                        <h2 class="sc-br-bottom">{{localize "FURU-SC.CRAFT_MENU_UI.REQUIRED_ITEMS"}}</h2>
                        {{#if ingredients}}
                        <div class="sc-required-items">
                            {{#each ingredients}}
                            <div class="sc-required-item sc-br-rad15" data-item-id="{{@key}}">
                                <img src="{{this.img}}"
                                    class="sc-required-image sc-br-full sc-br-tl-rad15 sc-br-bl-rad15" />
                                <p class="sc-br-top sc-br-bottom">{{this.name}}</p>
                                {{#if (checkEditRights)}}
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.SUBSTRACT_QUANTITY"}}"
                                    class="sc-item_button sc-br-rad0 sc-br-left sc-br-top sc-br-bottom" data-action="substract-quantity">
                                    <i class="fas fa-angle-left "></i>
                                </button>
                                {{/if}}
                                <input type="text" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ITEM_QUANTITY"}}"
                                    name="{{../id}}.ingredients.{{@key}}.quantity"
                                    class="sc-quantity-input  sc-br-full sc-br-rad0 
                                    {{#if (noEditRights)}}sc-br-tr-rad15 sc-br-br-rad15{{/if}}" 
                                    {{#if (noEditRights)}}readonly{{/if}} value="{{getCorrectQuantityValue this}}" />
                                {{#if (checkEditRights)}}
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.ADD_QUANTITY"}}" 
                                    class="sc-item_button sc-br-top sc-br-bottom"
                                    data-action="add-quantity">
                                    <i class="fas fa-angle-right"></i>
                                </button>
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.DELETE_INGREDIENT"}}"
                                    class="sc-delete-item-button sc-br-full sc-br-rad0 sc-br-tr-rad15 sc-br-br-rad15"
                                    data-action="delete-item">
                                    <i class="fas fa-minus"></i>
                                </button>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <i class="fas fa-circle-down sc-drop-zone-marker"></i>
                        {{/if}}
                    </div>
                    {{/if}}
                    {{!--Required tags block --}}
                    {{#if (equals type "tags")}}
                    <div class="sc-required-tags-container sc-br-none">
                        <h2 class="sc-br-bottom">{{localize "FURU-SC.CRAFT_MENU_UI.REQUIRED_TAGS"}}</h2>
                        {{#if tags}}
                        <div class="sc-required-tags">
                        {{#each tags}}
                            <div class="sc-tags-container sc-br-none sc-tag-corners-cut" data-tag="{{@key}}">
                                <input type="text" 
                                    name="{{../id}}.tags.{{@key}}.quantity"
                                    title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.TAG_QUANTITY"}}" 
                                    class="sc-tag-quantity sc-br-none sc-br-rad0 sc-br-bl-rad15 
                                    sc-br-tl-rad15 sc-br-left sc-br-top sc-br-bottom"
                                    {{#if (noEditRights)}}readonly{{/if}}
                                    value="{{this}}" />
                                <input type="text" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.CHANGE_TAG"}}" 
                                    name="{{../id}}.tags.{{@key}}.tag"
                                    class="sc-tag sc-br-none sc-br-rad0 sc-br-left sc-br-top sc-br-bottom" 
                                    style="width: 100% !important;"
                                    {{#if (noEditRights)}}readonly{{/if}}
                                    value="{{@key}}" />
                                {{#if (checkEditRights)}}
                                <button type="button" title="{{localize "FURU-SC.CRAFT_MENU_UI.TOOLTIPS.REMOVE_TAG"}}"
                                    class="sc-tag-remove-button sc-br-none sc-br-rad0 sc-br-left" data-action="remove-tag">
                                    <i class="fas fa-xmark"></i>
                                </button>
                                {{else}}
                                <p class="sc-tag-remove-button sc-br-none sc-br-rad0 sc-br-left" style="min-width: 64px; margin: 0px;">
                                {{/if}}
                            </div>
                        {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
                {{/unless}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</form>