<form>
    <button type="button" title="{{localize "FURU-SC.QUANTITY_CONFIG_UI.TOOLTIPS.HELP"}}" data-action="open_help"
        style="width:100%;">
        <i class="fas fa-circle-info"></i> {{localize "FURU-SC.QUANTITY_CONFIG_UI.HELP"}}
    </button>
    {{#if showHelp}}
    <h3 style="padding-top:10px;">
        {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.HEADER"}}
    </h3>
    <ol>
        <li>
            {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.FIRST"}}
        </li>
        <li>
            {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.SECOND"}}
        </li>
        <li>
            {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.THIRD"}}
        </li>
        <li>
            {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.FOURTH"}}
        </li>
        <li>
            {{localize "FURU-SC.QUANTITY_CONFIG_UI.STEPS.FIFTH"}}
        </li>
    </ol>
    {{/if}}
    <header class="sc-quantity-config-header flexrow">
        <label>Type</label>
        <label>Path</label>
    </header>

    <ul class="action-list">
        {{#each paths}}
        <li class="action form-group">
            <div class="sc-item-type-text">{{type}}</div>
            <input name="{{type}}.path" class="path-text" type="text" 
            title="{{localize "FURU-SC.QUANTITY_CONFIG_UI.TOOLTIPS.QUANTITY_PATH"}}" 
            value="{{path}}" />
        </li>
        {{/each}}
    </ul>
    <div class="form-group">
        <button type="submit">
            <i class="fas fa-save"></i>
        </button>
    </div>
</form>